
body{
  padding: 30px;
  margin: auto;
  font-size: 18px;

}
header {
  background-color: #FF0000;
  background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 30px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 50px;
}
nav a:link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width: 15%;
  margin: auto;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  padding: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}
a:active {
  background-color: white;
  color: blue;
}
a:hover {
  background-color: white;
  color: blue;
}

.left {
  width: 35%;
  height: 700px;
  display: inline-block;
  float: left;
  background-color:  #013220;
}

img {
  display: none;
}

.right {
  display: inline-block;
  width: 60%;
  float: right;
}